
<mat-card class="card_fertilagro">
  <mat-card-header class="card_header_fertilagro d-flex justify-content-between">
    <mat-card-title>Cadastro de Pedidos</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content_fertilagro">
    <app-fertilagro-botoes [tela]="this"> </app-fertilagro-botoes>

    <form [formGroup]="resourceform">

      <div class="row">
        <div class="col-2">
          <mat-form-field formGroupName="id" appearance="outline">
            <mat-label>Código</mat-label>
            <input matInput [disableControl]="false" formControlName="id" 
            (blur)="buscarId()">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <app-fertilagro-data rotulo="Data" formControlName="data" [disableControl]="false" [focus]="focus">
          </app-fertilagro-data>
        </div>
      </div>

      <div class="row">
        <label>Cliente</label>
        <app-fertilagro-FkField formControlName="pessoa" tipo="pessoas"></app-fertilagro-FkField>
      </div>

      <mat-tab-group dynamicHeight>
        <mat-tab label="Amostras">
          <app-tabela-filha
          [colunas]="colunasAmostras" [dados]="getLista('pedidoAmostras')">
          </app-tabela-filha>
        </mat-tab>

        <mat-tab label="Financeiro">
        </mat-tab>

      </mat-tab-group>


    </form>

  </mat-card-content>
  <mat-card-footer class="card_footer_fertilagro">
  </mat-card-footer>
</mat-card>

<router-outlet></router-outlet>
