
<mat-card class="card_fertilagro">
  <mat-card-header class="card_header_fertilagro d-flex justify-content-between">
    <mat-card-title>Cadastro de Pedidos</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content_fertilagro">
    <app-fertilagro-botoes [tela]="this"> </app-fertilagro-botoes>

    <form [formGroup]="resourceform">

      <div class="row">
        <div class="col-2">
          <mat-form-field formGroupName="id" appearance="outline">
            <mat-label>Código</mat-label>
            <input matInput [disableControl]="false" formControlName="id"
            (blur)="buscarId()">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <app-fertilagro-data rotulo="Data" formControlName="data"
          [desabilitar]="disabilitarCampos" [focus]="focus"></app-fertilagro-data>
        </div>

        <div class="col-9">
          <app-fertilagro-FkField titulo="Cliente" formControlName="pessoa"
          [desabilitar]="disabilitarCampos" tipo="pessoas" style="text-transform: uppercase;"></app-fertilagro-FkField>
        </div>
      </div>

      <mat-tab-group dynamicHeight>
        <mat-tab label="Amostras">
          <app-tabela-filha
          [colunas]="colunasAmostras" [dados]="getLista('pedidoAmostras')" tipoSelecao='multipla'
          [selecionados]="selecionados">
          </app-tabela-filha>
        </mat-tab>

        <mat-tab label="Financeiro">
        </mat-tab>

      </mat-tab-group>

      <button (click)="testando()"></button>


    </form>

  </mat-card-content>
  <mat-card-footer class="card_footer_fertilagro">
  </mat-card-footer>
</mat-card>

<router-outlet></router-outlet>
