<div class="d-flex justify-content-between flex-wrap" style="margin: 0.1rem -0.1rem 0.3rem;">
  <div class="d-flex flex-grow-1 flex-wrap">
    <div class="btn-cad">

      <app-basico-botao id="btn-incluir" rotulo="Incluir" icone="add_box"
      [desabilitar]="!(mostrarIncluir && !emEdicao())" [esconder]="false" (clique)="incluir()"></app-basico-botao>

      <app-basico-botao id="btn-alterar" rotulo="Alterar" icone="edit"
      [desabilitar]="!(mostrarAlterar && !emEdicao() && temId())" [esconder]="false" (clique)="alterar()"></app-basico-botao>

      <app-basico-botao id="btn-cancelar" rotulo="Cancelar" icone="cancel"
      [desabilitar]="!(mostrarCancelar && emEdicao())" [esconder]="false" (clique)="cancelar()"></app-basico-botao>

      <app-basico-botao id="btn-salvar" rotulo="Salvar" icone="save"
      [desabilitar]="!(mostrarSalvar && emEdicao())" [esconder]="false" (clique)="salvar()"></app-basico-botao>

      <app-basico-botao id="btn-excluir" rotulo="Excluir" icone="delete_outline"
      [desabilitar]="!(mostrarExcluir && !emEdicao() && temId())" [esconder]="false" (clique)="excluir()"></app-basico-botao>

      <app-basico-botao id="btn-pesquisar" rotulo="Pesquisar" icone="manage_search"
      [desabilitar]="!(mostrarPesquisar && !emEdicao())"  [esconder]="false" (clique)="pesquisar()"></app-basico-botao>
    </div>

  </div>
</div>
<hr />


