<mat-card class="card_fertilagro">
  <mat-card-header class="card_header_fertilagro d-flex justify-content-between">
    <mat-card-title>Cadastro de Pessoas</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content_fertilagro">
    <app-fertilagro-botoes [tela]="this"> </app-fertilagro-botoes>

    <form [formGroup]="resourceform">
        <div class="row">
          <div class="col-2">
              <app-fertilagro-inputs titulo="Código" formControlName="id" [desabilitar]="true">
              </app-fertilagro-inputs>
          </div>
        </div>

        <div class="row">
          <div class="col-9">
              <app-fertilagro-inputs titulo="Razão Social" formControlName="razaoSocial" [desabilitar]="disabilitarCampos">
              </app-fertilagro-inputs>
          </div>
          <div class="col-3">
              <app-fertilagro-inputs titulo="Cnpj/Cpf" formControlName="cnpjCpf" [desabilitar]="disabilitarCampos">
              </app-fertilagro-inputs>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <app-fertilagro-inputs titulo="Telefone" formControlName="telefone" [desabilitar]="disabilitarCampos">
            </app-fertilagro-inputs>
          </div>
          <div class="col-4">
            <app-fertilagro-inputs titulo="E-mail" formControlName="email" [desabilitar]="disabilitarCampos">
            </app-fertilagro-inputs>
          </div>
          <div class="col-2">
            <app-fertilagro-inputs titulo="Endereço" formControlName="endereco" [desabilitar]="disabilitarCampos">
            </app-fertilagro-inputs>
          </div>

          <div class="col-4">
            <app-fertilagro-FkField titulo="cidade" tipo="cidades" formControlName="cidade" [desabilitar]="disabilitarCampos">
            </app-fertilagro-FkField>
          </div>

        </div>



                  <!-- <div class="col-6">

              <mat-form-field appearance="outline">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado" [disableControl]="disabilitarCampos">
                  <mat-option *ngFor="let i of status$ | async" [value]="i">
                    {{i}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

          </div> -->

    </form>

  </mat-card-content>
  <mat-card-footer class="card_footer_fertilagro">
  </mat-card-footer>
</mat-card>

<router-outlet></router-outlet>
