<mat-form-field appearance="outline">
  <mat-label>{{rotulo}}</mat-label>

  <input matInput #input
          [formControl]="controlador"
          [disableControl]="desabilitar"
          [appAutomaticoFocus]="focus"
          [matAutocomplete]="auto"
          (blur)="aoSairComTab($event, auto.isOpen); onTouchedCb($event);"
          onfocus="this.select();"
          (focus)="aoReceberFoco()">

  <button type="button" mat-icon-button matSuffix [disabled]="desabilitar"
    class="btn-fkfield" tabindex="-1" (click)="abrirPesquisa()"
    [hidden]="ocultarPesquisa">
    <mat-icon><em class="btnPesquisar fas fa-search fa-xs"></em></mat-icon>
  </button>

  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption autocompleteDisabled
    [displayWith]="displayFn.bind(this)" (optionSelected)="selecionando($event)">
    <mat-option class="fkfield-option" *ngFor="let option of filteredOptions | async" [value]="option">
      {{ getDescricao(option) }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
