::ng-deep {
  .fkfield-option{
    &.mat-option {
      &.mat-active {
        @extend %correcao-prime-mat-option;
      }

      &:hover {
        @extend %correcao-prime-mat-option;
      }
    }
  }
}

%correcao-prime-mat-option {
  white-space: normal;
  line-height: 20px;
  padding: 3px 16px;
  height: auto;
  min-height: 48px;
}
