<div class="container-principal">
  <div class="container-botoes">
      <div class="container-retangular">
        <app-basico-botao class="btn" rotulo="Incluir">
        </app-basico-botao>
        <app-basico-botao class="btn" rotulo="Alterar">
        </app-basico-botao>
        <app-basico-botao class="btn" rotulo="Cancelar">
        </app-basico-botao>
        <app-basico-botao class="btn" rotulo="Excluir">
        </app-basico-botao>
        <app-basico-botao class="btn-pesquisar" rotulo="Pesquisar">
        </app-basico-botao>
        <hr >
      </div>
  </div>
</div>
