<div class="container-principal">
  <div class="container-botoes">
      <div class="container-retangular">
        <app-basico-botao rotulo="Incluir">
        </app-basico-botao>
        <app-basico-botao rotulo="Alterar">
        </app-basico-botao>
        <app-basico-botao rotulo="Cancelar">
        </app-basico-botao>
        <app-basico-botao rotulo="Excluir">
        </app-basico-botao>
        <app-basico-botao rotulo="Pesquisar">
        </app-basico-botao>
      </div>
  </div>
  <div class="retangulo">fgdfg
  </div>
</div>
