<div class="container-botoes">
    <mat-toolbar class="toolbar-titulo">
        <span class="span-titulo">{{titulo}}</span>
    </mat-toolbar>
    <div class="botoes">
        <p-button label="Incluir" class="btn-acoes"></p-button>
        <p-button label="Alterar" class="btn-acoes"></p-button>
        <p-button label="Cancelar" class="btn-acoes"></p-button>
        <p-button label="Excluir" class="btn-acoes"></p-button>
        <p-button label="Pesquisar" class="btn-acoes"></p-button>
    </div>
</div>



