

.btn {
    background-color: white;
    font-weight: 650;
    border-radius: 3px;
    border: 1px solid #D3D3D3;
    margin: 2px;
    box-shadow: 0.5px 0.5px;
    width: 120px;
    height: 25px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }



