<mat-form-field appearance="outline">
      <mat-label>{{titulo}}</mat-label>

        <input matInput #input
        [formControl]="controlador"
        [disableControl]="desabilitar"
        [appAutomaticoFocus]="focus"
        (blur)="aoSairDoCampo($event, auto.isOpen); onTouchedCb($event);"
        onfocus="this.select();"
        [matAutocomplete]="auto">

      <button></button>

      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption
      [displayWith]="displayFn.bind(this)" (optionSelected)="selecionando($event)">
        <mat-option *ngFor="let option of opcoesFiltradas | async" [value]="option">
          {{ getDescricao(option) }}
        </mat-option>
      </mat-autocomplete>

  </mat-form-field>
