<mat-form-field appearance="outline">
      <mat-label>{{titulo}}</mat-label>

        <input matInput #input
        [formControl]="controlador"
        [disableControl]="desabilitar"
        [appAutomaticoFocus]="focus"
        (blur)="aoSairDoCampo($event, auto.isOpen); onTouchedCb($event);"
        onfocus="this.select();"
        [matAutocomplete]="auto">

        <button type="button" mat-icon-button matSuffix [disabled]="desabilitar"
        class="btn-fkfield" tabindex="-1">
        <mat-icon>manage_search<em class="btnPesquisar fas fa-search fa-xs"></em></mat-icon>
      </button>

      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption
      [displayWith]="displayFn.bind(this)" (optionSelected)="selecionando($event)">
        <mat-option *ngFor="let option of opcoesFiltradas | async" [value]="option">
          {{ getDescricao(option) }}
        </mat-option>
      </mat-autocomplete>

  </mat-form-field>
