

// Importação do Theme do material Angular em arquivo separado
 @import "@angular/material/prebuilt-themes/indigo-pink.css";

 @import "/src/scss/variaveis";

 @import "/src/scss/primeng";

 @import "/src/scss/material-angular";

// Importacao Bootstrap
 @import "../node_modules/bootstrap/scss/bootstrap.scss";


* {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

body {
  background-color: white;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.col-2,
.col-4,
.col-6,
.col-10,
.col-12,
.col-md-12 {
   position: relative;
 //  width: 100%;
   min-height: 1px;
   padding-right: 2px;
   padding-left: 2px;

  // align-items: center;

 //  background-color: aqua;
}

.card_fertilagro {
  max-width: 70%;
  height: 100%;
  margin: 1em auto;
  padding: 0;
}

.card-content_fertilagro {
  font-size: 13.5px;
}

.card_header_fertilagro {
  background: #456184;
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
}

.card_footer_fertilagro {
  padding: 3px 2px;
  background: #456184;
  border-radius: 2px;
  margin-top: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}
