// // Importacao Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';

// Importação do Theme do material Angular
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-md-8 {
   position: relative;
   width: 100%;
   min-height: 1px;
   padding-right: 2px;
   padding-left: 2px;

   background-color: aqua;
}

.card_fertilagro {
  max-width: 70%;
  height: 100%;
  margin: 1em auto;
  padding: 0;
}

.card-content_fertilagro {
  font-size: 13.5px;
}

.card_header_fertilagro {
  background: #456184;
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
}

.card_footer_fertilagro {
  padding: 3px 2px;
  background: #456184;
  border-radius: 2px;
  margin-top: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}
