
// Importacao Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
  }

  body {
    background-color: rgb(123, 49, 49);
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-md-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 2px;
  padding-left: 2px;
}

  .card-content_fertilagro {
    padding: 5px;
    margin: 0;
    font-size: 13.5px;
    background: red;
  }

  .card_header_fertilagro {
    background: #e8ffe9;
    padding: 10px 10px;
    border-radius: 10px;
  }

  .card_footer_fertilagro {
    width: 100%;
    padding: 5px 10px;
    background: #e8ffe9;
  }

