/** Tamanho da Fonte */
$tamanho-fonte: 0.8125em; //Esse valor determina 13px

/** Sistema de cores */
$a2o-azul-100: #6695CD !default;
$a2o-azul-200: #5D87BB !default;
$a2o-azul-300: #537AA8 !default;
$a2o-azul-400: #4A6C96 !default;
$a2o-azul: #415f83 !default;
$a2o-azul-rgb: rgb(65, 95, 131) !default;
$a2o-azul-600: #385270 !default;
$a2o-azul-700: #2F445E !default;
$a2o-azul-800: #25374B !default;
$a2o-azul-900: #1C2339 !default;
/** Fim Sistema de cores */
